<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/actors">Actors</a></li>
                <li><a href="/singers">Singers</a></li>
                <li><a href="/bands">Bands</a></li>
                <li><a href="/public-figures">Public Figures</a></li>
            </ul>
        </nav>
    </header>
    <%- body %>
</body>
</html>